
         :root{
            --color: rgb(86, 149, 250);
        }
        .container{
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            
        }
        form{
            border: 1px solid white;
            width: 300px;
            padding: 50px 20px;
            box-shadow: 1px 1px 10px 0px;
            border-radius: 10px;
        }
        .form-group{
            position: relative;
        }
        .form-group label{
            position: absolute;
            top: 7px;
            left: 7px;
            background-color: #fff;
            color: grey;
            transition: transform 0.3s ease;
            pointer-events: none;
        }
        .form-group input{
            width: 100%;
            box-sizing: border-box;
            height: 35px;
            margin-bottom: 30px;
            padding: 7px;
            border: 1px solid grey;
            cursor: pointer;
            

        }
        button{
            width: 100%;
            height: 35px;
            background-color: var(--color);
            border: none;
            color: white;
        }
        form p{
            text-align: center;
        }
        input:focus + label{
            transform: translateY(-16px);
            transition: transform 0.3s ease;
            color: var(--color);
        }
        input:focus{
            border: 1px solid var(--color);
            outline: none;
        }
        input:not(:placeholder-shown) + label{
            transform: translateY(-16px);
        }